{deps, [
    {coinbase_price_watcher, {git, "https://github.com/anton-grsm/coinbase_price_watcher.git", {branch, "master"}}},
    {coinbase_price_web, {git, "https://github.com/anton-grsm/coinbase_price_web.git", {branch, "master"}}}
]}.

{relx, [
    {release, {coinbase_node, "1.0.0"}, [
        coinbase_price_watcher,
        coinbase_price_web
    ], [
        {include_erts, true}
    ]},
    {extended_start_script, true}
]}.

{shell, [
    {apps, [
        coinbase_price_watcher,
        coinbase_price_web
    ]}
]}.

{profiles, [
    {master, [
        {erl_opts, [
            no_debug_info
        ]},
        {relx, [
            {include_src, false},
            {sys_config, "./env/master.config"},
            {vm_args, "./env/master.vmargs"}
        ]}
    ]}
]}.
